@use "../config.scss" as *;

.footer {
  margin-top: auto;
  position: relative;
  width: 100%;
  height: toRem(200);
  z-index: 1000;
}

.footerBackground {
  background-color: var(--bento-card-bg);
  border-top: 1px solid var(--bento-card-border);
  height: 100%;
  width: 100%;
}
