@use "../config.scss" as *;

.textBox {
  display: inline-block;
  height: 100%;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
}

.inline {
  .textBox {
    text-align: left;
    padding: 0rem 1.5rem 0 0.5rem;
  }
}

.text {
  display: inline-block;
  position: relative;
  transition: all 0.2s;
  z-index: 2;
}

.iconBox {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  transform: translateX(40%);
  transition: all 0.2s;
  top: 0;
  z-index: 1;
}

.icon {
  height: toRem(24);
  width: toRem(24);
}

.arrowIcon {
  margin-right: -0.35rem;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.2s;
}

.websiteIcon,
.worldIcon {
  height: toRem(24);
  opacity: 0;
  position: relative;
  transform: translateX(500%);
  transition: all 0.2s;
  width: toRem(24);
}

.labelContainer {
  display: inline-block;
  min-width: toRem(100);
  position: relative;
  z-index: 0;

  &:hover .text,
  &:focus-visible .text {
    transform: translateX(-10%);
  }

  &:hover .iconBox,
  &:focus-visible .iconBox {
    transform: translateX(42%);
  }

  &:hover .arrowIcon,
  &:focus-visible .arrowIcon {
    opacity: 1;
    transform: translateX(0);
  }

  &:hover .websiteIcon,
  &:focus-visible .websiteIcon,
  &:hover .worldIcon,
  &:focus-visible .worldIcon {
    opacity: 1;
    transform: translateX(10%);
  }

  &:active .websiteIcon,
  &:focus-visible:active .websiteIcon,
  &:active .worldIcon,
  &:focus-visible:active .worldIcon {
    opacity: 1;
    transform: translateX(-50%);
  }

  &:active .arrowIcon,
  &:focus-visible:active .arrowIcon {
    opacity: 0;
    transform: translateX(-100%);
  }
}
