@use "../config.scss" as *;

$container-padding: toRem(16);

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 $container-padding;
}

.normal {
  max-width: toRem(1400);
}

.small {
  max-width: toRem(1000);
}

.wide {
  max-width: toRem(1600);
}
