@use "../config.scss" as *;

.link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  &:after {
    background-color: $primary-color;
    bottom: 18%;
    content: "";
    height: toRem(1);
    left: 0%;
    pointer-events: none;
    position: absolute;
    transition: all 0.2s ease-in-out;
    width: 0%;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}
